*~
*.bak
build
.buildpath
compass
_compass.scss
composer.lock
desktop.ini
.DS_Store
.idea
/logs
nbproject/
node_modules
.project
.sass-cache
.settings
Thumbs.db
.tmpoj
.vagrant

# CakePHP
cakephp/app/Config/core.php
cakephp/app/Config/database.php

cakephp/app/tmp/cache/models/*
!cakephp/app/tmp/cache/models/empty
 
cakephp/app/tmp/cache/persistent/*
!cakephp/app/tmp/cache/persistent/empty
 
cakephp/app/tmp/cache/views/*
!cakephp/app/tmp/cache/views/empty
 
cakephp/app/tmp/logs/*
!cakephp/app/tmp/logs/empty
 
cakephp/app/tmp/sessions/*
!cakephp/app/tmp/sessions/empty
 
cakephp/app/tmp/tests/*
!cakephp/app/tmp/tests/empty
